@import '~antd/dist/antd.css';

.login-container h1 {
  text-align: center;
}

.login-form {
  max-width: 350px;
  margin: 3rem auto;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
